body{
	margin: 0 auto 0;
	background-image: url("../images/concrete-texture.png");
}

nav {
	height: 70px;
	background: white;
	border-bottom: 2px solid #cccccc;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.name {
	width: auto;
	height: 70px;
	background-color: #4aaaa5;
	float: left;
	padding: 0 34px 0;
}

.me {
	color: white;
}

h1, h2 {
	color: #4aaaa5;
}

nav {
	border-bottom: 2px solid #cccccc;
}

.header {
	width: 960px;
	margin: 0 auto;
}

.navbar {
	float: right;
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.navbar ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.navbar li {
	display: inline;
	line-height: 70px;
	padding-right: 20px;
}

.navbar li a {
	text-decoration: none;
}

.container {
	width: 960px;
	margin: 0 auto;
}

.terakota {
	margin-top: 20px;
}

.about {
	float: left;
	/* Not according to HW Spec */
	width: 570px;
	border: 2px solid #cccccc;
	padding: 0 25px;
	margin: 0 20px 80px 0;
}

.about img {
	height: 190px;
	float: left;
	margin: 20px;
}

.about p {
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.sidebar {
	float: right;
	width: 270px;
	border: 2px solid #cccccc;
	text-align: center;
	padding: 12px 20px 20px;
}

.sidebar hr {
	margin: 20px 0;
}

.connect img {
	height: 60px;
}


footer {
	color: white;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	clear: both;
	background-color: grey;
	height: 30px;
	border-top: 8px solid #4aaaa5;
	padding: 20px;
	text-align: center;
	vertical-align: middle;
	position: sticky;
	bottom: 1px;
}

/* PORTFOLIO PAGE */
.portfolio {
	float: left;
	/* Not according to HW Spec */
	width: 570px;
	height: 760px;
	border: 2px solid #cccccc;
	padding: 0 25px;
	margin: 0 20px 80px 0;
}

.portfolio img {
	width: 254px;
	float: left;
	margin: 14px;
}


